@use "../variables/variables" as*;

header {
  height: 100px;
  background-color: $color-primario; 
  display: flex;
  justify-content: center;

  nav {
    
    ul {
      display: flex;
      justify-content: center;
      justify-content: space-evenly;  

      .nav {
        display: flex;
        font-family: $tipografia-principal;
        font-weight: bold;
        font-size: 30px;
        margin: 30px;

        &:hover {
          transform: scale(1.1);
        }
        
        a {
          color: $color-secundario;
          text-decoration: none; 
        }
      }
    }
  }
}